html, 
body {
    height: 100%;
}

body {
    background-color: #222;
}

.section {
    height: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
}

figure {
    flex: 1;
    display: flex; 
}

.teclado {
  flex: 1;
  display: flex; 
  flex-direction: column;  
  align-items: center;
}

.tabuleiro {
  flex: 1;
}

img{
  max-width: 20em;
}

.table {
    color: #363636;
  }
  
  .table td,
  .table th {
    border-width: 0 0 1px;
    padding: 0;
    vertical-align: top;
  }

table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,
  th {
    padding: 0;
  }

table td,
table th {
  vertical-align: top;
  padding: 0
}

table td:not([align]),
table th:not([align]) {
  text-align: inherit;
  padding: 0
}

table th {
  color: #363636;
}

.table.is-narrow td,
.table.is-narrow th {
  padding: 0;
}

.content table td,
.content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0;
  vertical-align: top;
}

.content table th {
  color: #363636;
}

.content table th:not([align]) {
  text-align: inherit;
}

.button {
    border-radius: 5px;
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    padding: 1em;
    margin: 0.1em;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }

  .button.is-light {
    background-color: whitesmoke;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .button.is-light:hover, .button.is-light.is-hovered {
    background-color: #eeeeee;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
  }

  .button.is-light.is-outlined {
    background-color: transparent;
    border-color: whitesmoke;
    color: whitesmoke;
  }
  
  .button.is-light.is-outlined:hover, .button.is-light.is-outlined.is-hovered, .button.is-light.is-outlined:focus, .button.is-light.is-outlined.is-focused {
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: rgba(0, 0, 0, 0.7);
  }

  .button.is-fullwidth {
    display: flex;
    width: 100%;
  }

  .button.is-primary {
    background-color: #00d1b2;
    border-color: whitesmoke;
    color: #fff;
  }
  
  .button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #eeeeee;
    border-color: whitesmoke;
    color: #040404;
  }

  .modal, .modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
  }
  
  .modal.is-active {
    display: flex;
  }
  
  .modal-background {
    background-color: rgba(10, 10, 10, 0.86);
  }

  .modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

.alerta {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
}

.notification {
    background-color: whitesmoke;
    border-radius: 4px;
    position: relative;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
  }

  .notification > .delete {
    right: 0.5rem;
    position: absolute;
    top: 0.5rem;
  }

  .notification.is-dark {
    background-color: #36363677;
    color: #fff;
  }

  .tag {
    margin-bottom: 0.5rem;
  }
  
  .tag:not(:last-child) {
    margin-right: 0.5rem;
  }

  .tag:not(body) {
    width: 2em;
    height: 2em;
    margin: 0.1em;
    border: 1px solid #999; 
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    justify-content: center;
    line-height: 1.5;
    white-space: nowrap;
  }

  .tag:not(:last-child) {
    margin-right: 0.5rem;
  }

  .tag {
    margin-right: 0;
  }

  .tag:not(:first-child) {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .tag:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .tag:not(body).is-black {
    background-color: #0a0a0a;
    color: white;
  }

  .tag:not(body).is-primary {
    background-color: #00d1b2;
    color: #fff;
  }

  .tag:not(body).is-warning {
    background-color: #ffe08a;
    color: rgba(0, 0, 0, 0.7);
  }

  .tag:not(body).is-dark {
    background-color: #363636;
    color: #fff;
  }

  .is-size-3 {
    font-size: 2rem !important;
  }

  .delete, .modal-close {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
  }
  
  .delete::before, .modal-close::before, .delete::after, .modal-close::after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }
  
  .delete::before, .modal-close::before {
    height: 2px;
    width: 50%;
  }
  
  .delete::after, .modal-close::after {
    height: 50%;
    width: 2px;
  }
  
  .delete:hover, .modal-close:hover, .delete:focus, .modal-close:focus {
    background-color: rgba(10, 10, 10, 0.3);
  }
  
  .delete:active, .modal-close:active {
    background-color: rgba(10, 10, 10, 0.4);
  }
